@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */
/* body.light {
    background-color: #f3f4f6;
    color: #333;
} */

body.dark {
    background-color: #1a1a1a;
    color: #fff;
}

#theme-toggle:checked + .toggle-wrapper {
    @apply bg-white
}

#theme-toggle:checked + .toggle-wrapper .toggle-thumb {
    @apply left-auto right-1 bg-black
}
 
/* html[color-theme="dark"] #header__moon {
    display: block;
}
html[color-theme="light"] #header__sun {
    display: block;
}
html[color-theme="system"] #header__indeterminate {
    display: block;
} */